body {
   font-family: 'Roboto', sans-serif;
   background: #3a6186;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
   width: 300px;
   background: #f7f7f7;
   margin: 80px 20px;
   box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.completed {
   text-decoration: line-through;
   color: gray;
}

.fa-plus-circle {
   float: right;
}

.fa-trash:before {
    content: unset;
}

h1 {
   /* background: #2980b9; */
   background: #200122;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   color: white;
   margin: 0;
   padding: 10px 20px;
   text-transform: uppercase;
   font-size: 24px;
   font-weight: normal;
}

ul {
   padding: 10px 20px;
   list-style: none;
   margin: 0;
   padding: 0;
}

li {
   background: #fff;
   height: 40px;
   line-height: 40px;
   color: #666;
}

li:nth-child(2n) {
   background: #f7f7f7;
}

input {
   font-size: 18px;
   background: #f7f7f7;
   width: 100%;
   padding: 13px 13px 13px 20px;
   box-sizing: border-box;
   /* color: #2980b9; */
   color: linear-gradient(to right, #6f0000, #200122);
   border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
   background: white;
   border: 3px solid #6f0000 ;
   outline: none;
}

span {
   width: 0px;
   background:#e74c4c;
   height: 40px;
   margin-right: 20px; 
   text-align: center;
   color: white;
   display: inline-block;
   transition: 0.2s linear;
   opacity: 0;
}

li:hover span {
   width: 40px;
   opacity: 1.0;
}